<div class="content-wrap" style="min-width:760px;">
	<div class="level2 clearfix">
		<div class="tipBtnWrap" ng-if="perms(217)" class="dropdown" ng-mouseenter="showTip($event)" ng-mouseleave=hideTip($event)>
			<div class="tipDiv">选中在线终端才能进行此操作</div>
			<button ng-class="{'disabled': idsNormal.length == 0 || idsNormal.length != ids.length }" type="button" data-toggle="dropdown"
			    class="btn btn-primary h34">
				下发命令
				<i class="fa fa-caret-down"></i>
			</button>
			<ul class="dropdown-menu dropdown-alerts">
				<li>
					<a href="javascript:void(0)" ng-click="sendCommand(2)">
						<i class="fa fa-clock-o fa-fw"></i>
						{{getRootDicName('terminal_cmd',2)}}</a>
				</li>

				<li>
					<a href="javascript:void(0)" ng-click="sendCommand(3)">
						<i class="fa fa-volume-up fa-fw"></i>
						{{getRootDicName('terminal_cmd',3)}}</a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="sendCommand(4)">
						<i class="fa fa-power-off fa-fw"></i>
						{{getRootDicName('terminal_cmd',4)}}</a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="sendCommand(7)">
						<i class="fa fa-camera fa-fw"></i>
						{{getRootDicName('terminal_cmd',7)}}</a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="sendCommand(8)">
						<i class="fa fa-share fa-fw"></i>
						{{getRootDicName('terminal_cmd',8)}}</a>
				</li>
			</ul>
		</div>
		<div ng-if="perms(218)" ng-mouseenter="showTip($event)" ng-mouseleave=hideTip($event) class="tipBtnWrap">
			<button ng-class="{'disabled': ids.length == 0}" type="button" ng-click="setGroup()" class="btn btn-primary">
				设置所属机构
			</button>
			<div class="tipDiv">请先选择终端</div>
		</div>
		<div ng-if="perms(212)" class="tipBtnWrap">
			<button ng-click="addGroup()" class="btn btn-primary">
				添加分组
			</button>
		</div>
		<div ng-if="perms(214)" ng-mouseenter="showTip($event)" ng-mouseleave=hideTip($event) class="tipBtnWrap">
			<button ng-class="{'disabled': ids.length == 0}" type="button" ng-click="setLeaf()" class="btn btn-primary">
				设置分组
			</button>
			<div class="tipDiv">请先选择终端</div>
		</div>
		<div ng-if="perms(214)" ng-mouseenter="showTip($event)" ng-mouseleave=hideTip($event) class="tipBtnWrap">
			<button ng-class="{'disabled': ids.length == 0}" type="button" ng-click="cancelLeaf()" class="btn btn-primary">
				取消分组
			</button>
			<div class="tipDiv">请先选择终端</div>
		</div>
		<div class="serchWrap fr">
			<div class="fl txtInputWrap">
				<input class="form-control" ng-keyup="myKeyup($event,callServer,tableState)" ng-model="sp.search" placeholder="终端名称/终端编号">
			</div>
			<button type="button" class="btn btn-primary" ng-click="callServer(tableState)">查询</button>
			<button type="button" class="btn btn-primary" ng-click="exportExcel()">导出</button>
		</div>
	</div>

	<div class="table-wrapper">
		<div class="tableHeader clearfix">
			<div class="panel panel-default clearfix">
				<div class="panelRow clearfix">
					<div class="panel-left">组织机构</div>
					<div class="panel-right">
						<group-leaf-select></group-leaf-select>
					</div>
				</div>
				<div class="panelRow clearfix">
					<div class="panel-left">终端筛选</div>
					<div class="panel-right">
						<div class="panelSelectWrap">
							<select class="form-control" ng-model="sp.op" ng-change="callServer(tableState)">
								<option value="">系统类型</option>
								<option value="1">Android</option>
								<option value="2">Windows</option>
							</select>
						</div>
						<div class="panelSelectWrap">
							<select class="form-control" ng-model="sp.resolution" ng-change="callServer(tableState)">
								<option value="">屏幕分辨率</option>
								<option ng-repeat="t in userData.root_terminalReslotions" value="{{t}}">{{t}}</option>
							</select>
						</div>
						<div class="panelSelectWrap">
							<select class="form-control" ng-model="sp.city_no" ng-change="callServer(tableState)">
								<option value="">所在城市</option>
								<option ng-repeat="c in userData.root_citys" value="{{c.key}}">{{c.value}}</option>
							</select>
						</div>
						<div class="panelSelectWrap">
							<select class="form-control" ng-options="h.value as h.name for h in netStatus" ng-init="init_status?sp.status = init_status:sp.status = ''" ng-model="sp.status"
							    ng-change="callServer(tableState)">
							</select>
						</div>
						<div class="panelSelectWrap">
							<select class="form-control" ng-model="sp.hasProgram" ng-change="callServer(tableState)">
								<option value="">播放节目</option>
								<option value="1">有节目</option>
								<option value="0">无节目</option>
							</select>
						</div>
					</div>
				</div>
				<div class="panelRow clearfix last">
					<div class="panel-left">终端分组</div>
					<div class="panel-right">
						<span class="leafGroup" ng-class="{'current': sp.gid == ''}" ng-click="chooseLeaf('',$event)">全部分组</span>
						<span class="leafGroup" ng-class="{'current': sp.gid == leaf.id}" ng-repeat="leaf in leafes">
							<span class="leafName" ng-click="chooseLeaf(leaf.id,$event)">{{leaf.name}}</span>
							<span class="leafEdit">
								<input class="form-control" type="text" ng-model="leaf.name">
							</span>
							<i ng-if="perms(212)" ng-click="editLeaf(leaf,$event)" class="iconfont icon-bianji"></i>
							<i ng-if="perms(212)" ng-click="delLeaf(leaf)" class="iconfont icon-shanchu"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
		<table class="table" st-pipe="callServer" st-table="displayed">
			<thead>
				<tr>
					<th class="checkBoxTable">
						<input ng-checked="ids.length == displayed.length && displayed.length != 0" ng-click="checkAll($event)" type="checkbox">
					</th>
					<th>终端编号</th>
					<th>终端名称</th>
					<th>网络状态</th>
					<th>屏幕分辨率</th>
					<th>所属城市</th>
					<th>节目数量</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody ng-show="!isLoading">
				<tr class="{{$index%2 == 0?'odd':'even'}}" ng-repeat="row in displayed">
					<td class="checkBoxTable">
						<input ng-click="checkThis(row,$event)" ng-checked="ids.indexOf(row.id) != -1" type="checkbox">
					</td>
					<td class="tdClick" ng-click="details(row)">{{row.no}}</td>
					<td class="ellipsisTd" title="{{row.name}}">{{row.name}}</td>
					<td>
						<div class="txt-red" ng-if="row.status == 0">未激活</div>
						<div class="txt-green" ng-if="row.status == 1">在线</div>
						<div class="txt-grey" ng-if="row.status == 2">离线</div>
						<div class="txt-red" ng-if="row.status == 3">异常</div>
					</td>
					<td>
						{{row.resolution}}
					</td>
					<td>
						{{getCityName(row.city_no)}}
					</td>
					<td>
						<div class="tdClick" ng-click="showPrograms(row,$index)">
							{{row.programCounts}}
						</div>
					</td>
					<td>
						<button ng-if="perms(213)" class="btn tableBtn" ng-click="save(row)">编辑
						</button>
					</td>
				</tr>
			</tbody>
			<tbody ng-include="'tpl/table.html'"></tbody>
			<tfoot ng-show="!isLoading" ng-include="'tpl/table_footer.html'"></tfoot>
		</table>
	</div>
</div>