<div class="qmedia-editor">
    <section class="editor-body">
        <div class="left" ng-keydown="$event.stopPropagation()">
            <section class="top"></section>
            <section id="programPageThumbList" class="middle">
                <ul class="page-list" ui-sortable="sortableOptions" ng-model="pages">
                    <li ng-repeat="page in pages" ng-click="selectPage(page,$event)"
                        ng-class="{'selected':cache.currentPage===page}">
                        <editor-page-thumb
                                pixel-horizontal="pixelHorizontal"
                                pixel-vertical="pixelVertical"
                                size="170"
                                program-size="160"
                                page="page">
                        </editor-page-thumb>
                        <button class="iconfont icon-guanbi" ng-click="deletePage(page,$event)"></button>
                    </li>
                </ul>
            </section>
            <section class="bottom">
                <button class="iconfont icon-tianjia" ng-click="showDialogForSelectTemplate()">新场景</button>
            </section>
        </div>
        <div class="center" ng-click="editAreaClick()">
            <!--<editor-page-edit-drag-->
            <!--size="660"-->
            <!--scale="selectedScale">-->
            <!--</editor-page-edit-drag>-->
            <editor-page-edit
                    style="margin: 0 auto;"
                    ng-if="cache.currentPage"
                    pixel-horizontal="pixelHorizontal"
                    pixel-vertical="pixelVertical"
                    cache="cache"
                    commit="commit(undo,redo)"
                    auto-anchor="autoAnchor"
                    is-show-gridding="isShowGridding"
                    on-select-single-image="onSelectSingleImage({image:image,callback:callback})"
                    on-select-multiple-image="onSelectMultipleImage({images:images,callback:callback})"
                    on-select-single-video="onSelectSingleVideo({video:video,callback:callback})"
                    on-select-multiple-video="onSelectMultipleVideo({videos:videos,callback:callback})">
            </editor-page-edit>
        </div>
        <div class="right" ng-keydown="$event.stopPropagation()">
            <section class="tools-panel"
                     ng-if="cache.currentPage">
                <editor-tools
                        pixel-horizontal="pixelHorizontal"
                        pixel-vertical="pixelVertical"
                        current-page="cache.currentPage">
                </editor-tools>
            </section>
            <section class="properties-panel"
                     ng-if="cache.currentPage&&!cache.currentElement">
                <editor-page-property
                        page="cache.currentPage"
                        commit="commit(undo,redo)"
                        on-select-single-image="onSelectSingleImage({image:image,callback:callback})">
                </editor-page-property>
            </section>
            <section class="properties-panel"
                     ng-if="cache.currentPage&&cache.currentElement">
                <editor-element-property
                        ele="cache.currentElement"
                        page="cache.currentPage"
                        pixel-horizontal="pixelHorizontal"
                        pixel-vertical="pixelVertical"
                        commit="commit(undo,redo)"
                        on-select-single-image="onSelectSingleImage({image:image,callback:callback})"
                        on-select-multiple-image="onSelectMultipleImage({images:images,callback:callback})"
                        on-select-single-video="onSelectSingleVideo({video:video,callback:callback})"
                        on-select-multiple-video="onSelectMultipleVideo({videos:videos,callback:callback})">
                </editor-element-property>
            </section>
        </div>
    </section>
    <section class="editor-header" ng-keydown="$event.stopPropagation()">
        <section>
            <div class="left">
                <label class="iconfont icon-pingmubili"></label>

                <editor-pixel-selector
                        pixel-horizontal="pixelHorizontal"
                        pixel-vertical="pixelVertical"
                        on-custom="onCheckPixel({ph:pixelHorizontal,pv:pixelVertical,callback:callback})"
                        on-change="pixelChange(ph,pv)">
                </editor-pixel-selector>

                <span class="iconfont icon-xianshiwangge" ng-click="changeGriddingState()"
                      ng-bind="isShowGridding?'隐藏网格':'显示网格'"></span>

                <!--<label class="scaleLabel">缩放</label>-->
                <!--<editor-control-range class="scaleRange" max-val="180" min-val="60"-->
                <!--step="5"-->
                <!--val="selectedScale"></editor-control-range>-->
                <!--<label>{{selectedScale}}%</label>-->
            </div>
            <div class="right">
                <span ng-click="undo()" ng-class="{'disabled':undos.length===0}"><label
                        class="iconfont icon-chexiao"></label>撤销</span>
                <span ng-click="redo()" ng-class="{'disabled':redos.length===0}"><label
                        class="iconfont icon-zhongzhi"></label>重做</span>
                <!--<span ng-click="goCurrentPreview()">预览本页</span>-->
                <span ng-click="saveTemplate()"
                      ng-class="{'disabled':pages.length===0||cache.currentPage.elements.length===0}">存为模板</span>
                <span ng-click="goPreview()" ng-class="{'disabled':pages.length===0}">预览</span>
                <span ng-click="saveProgram()" ng-class="{'disabled':pages.length===0}">保存节目</span>
                <span ng-click="goBack()">返回</span>
            </div>
        </section>
    </section>
</div>
