<div class="editor-property">

    <ul class="editor-property-tabs">
        <!--<li ng-class="{'selected':tabIndex===0}" ng-click="setTabIndex(0)">基本</li>-->
        <li ng-class="{'selected':tabIndex===1}" ng-click="setTabIndex(1)">背景</li>
    </ul>

    <div style="position: absolute;top: 35px;left: 0;right: 0;bottom: 0;overflow: auto;">
        <!-- 基本编辑部分 -->
        <!--<editor-form-page-->
        <!--ng-show="tabIndex==0"-->
        <!--page="page"-->
        <!--commit="commit({undo:undo,redo:redo})">-->
        <!--</editor-form-page>-->

        <!-- 背景编辑部分 -->
        <editor-form-background
                ng-show="tabIndex==1"
                back-ground="page.background"
                on-select-single-image="onSelectSingleImage({image:image,callback:callback})"
                commit="commit({undo:undo,redo:redo})">
        </editor-form-background>
    </div>
</div>