<div class="homePage">
    <div class="row">
        <div class="col-lg-3 col-md-6 stats" ng-click="goTostate('dashboard.terminal',{status:1},21)">
            <div class="panel">
                <div class="panel-heading">
                    <div class="clearfix" style="text-align:center;">
                        <div class="dibik txt-left">
                            <i class="iconfont icon-zhengchang state_ok"></i>
                        </div>
                        <div class="dibik txt-left" style="margin-left:40px;">
                            <div>在线终端</div>
                            <div class="huge">{{ter_ok}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 stats" ng-click="goTostate('dashboard.terminal',{status:2},21)">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="clearfix" style="text-align:center;">
                        <div class="dibik txt-left">
                            <i class="iconfont icon-lixian state_offline"></i>
                        </div>
                        <div class="dibik txt-left" style="margin-left:40px;">
                            <div>离线终端</div>
                            <div class="huge">{{ter_offline}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 stats" ng-click="goTostate('dashboard.terminal',{status:3},21)">
            <div class="panel">
                <div class="panel-heading">
                    <div class="clearfix" style="text-align:center;">
                        <div class="dibik txt-left">
                            <i class="iconfont icon-yichang state_error"></i>
                        </div>
                        <div class="dibik txt-left" style="margin-left:40px;">
                            <div>异常终端</div>
                            <div class="huge">{{ter_noAct}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 stats" ng-click="goTostate('dashboard.terminal',{},21)">
            <div class="panel">
                <div class="panel-heading">
                    <div class="clearfix" style="text-align:center;">
                        <div class="dibik txt-left">
                            <i class="iconfont icon-suoyouzhongduan state_all"></i>
                        </div>
                        <div class="dibik txt-left" style="margin-left:40px;">
                            <div>所有终端</div>
                            <div class="huge">{{ter_all}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="mapWrap">
        <div id="allmap">
            <dl class="fileReportWrap">
                <dt>文件统计</dt>
                <dd ng-repeat="material in materialReport">
                    <div class="row con">
                        <div class="col-sm-8 conLeft">
                            <div class="col-sm-6">
                                <span class="iconWrap" ng-style="materialStyle(material.color)">
                                    <div class="tipLabel">
                                        <i class="icon iconfont icon-shipin-bendihua">
                                        </i>
                                        <span class="dibik">{{material.name}}</span>
                                    </div>
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <div class="conCenter">
                                    <sapn class="tle">{{material.allCount}}</sapn>
                                    <p>数量(个)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 conRright">
                            <sapn class="tle">{{material.allSize}}</sapn>
                            <p>大小(Mb)</p>
                        </div>

                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>