<div ng-include="'tpl/modal_header.html'"></div>
<div class="modal-body">

	<div class="row modalDetail">
		<div class="col-sm-8">
			<div class="previewWrap">
				<dmbd-program-preview2 ng-if="program" program-pixel-horizontal="program.pixelHorizontal" program-pixel-vertical="program.pixelVertical"
				    program-pages="program.pages" size="450"></dmbd-program-preview2>
			</div>
		</div>
		<div class="col-sm-4 pdr0">
				<div style="height:40px;" ng-if="program.pages.length > 1"></div>
				<div class="clearfix">
						<label class="col-sm-3 p0">节目名称</label>
						<div class="col-sm-9 txt-grey pdr0">{{data.name || data.programName}}
						</div>
					</div>
					<div class="clearfix" ng-if="data.size!=null">
						<label class="col-sm-3 p0">节目文件</label>
						<div class="col-sm-9 txt-grey pdr0">{{data.size | dmbdResourceSizeFilter}}
						</div>
					</div>
					<div class="clearfix">
						<label class="col-sm-3 p0">时长</label>
						<div class="col-sm-9 txt-grey pdr0">{{data.duration + 's'}}
						</div>
					</div>
					<div class="clearfix" ng-if="data.pixelHorizontal!=null">
						<label class="col-sm-3 p0">分辨率</label>
						<div class="col-sm-9 txt-grey pdr0">{{data.pixelHorizontal + '*' + data.pixelVertical}}
						</div>
					</div>
					<div class="clearfix" ng-if="data.creator!=null">
						<label class="col-sm-3 p0">节目创建</label>
						<div class="col-sm-9 txt-grey pdr0">{{data.creator}}&nbsp;&nbsp;{{data.createTime|date : 'yyyy-MM-dd HH:mm:ss'}}
						</div>
					</div>
					<div class="clearfix " ng-if="data.status">
						<label class="col-sm-3 p0">当前状态</label>
						<div class="col-sm-9 txt-grey pdr0">{{data.status | programStatusTxt}}</div>
					</div>
					<div class="clearfix" ng-if="data.approveUid!=null">
						<label class="col-sm-3 p0">节目初审</label>
						<div class="col-sm-9 txt-grey pdr0">{{data.approveUid}}&nbsp;&nbsp;{{data.approveTime|date:'yyyy-MM-dd HH:mm:ss'}}
						</div>
					</div>
					<div class="clearfix" ng-if="data.approveUidFinal!=null">
						<label class="col-sm-3 p0">节目终审</label>
						<div class="col-sm-9 txt-grey pdr0">{{data.approveUidFinal}}&nbsp;&nbsp;{{data.approveTimeFinal|date:'yyyy-MM-dd HH:mm:ss'}}
						</div>
					</div>
				</div>
		</div>

	</div>

</div>

<div class="modal-footer" ng-if="data.detailType == 1">
	<button class="btn btn-success" type="button" ng-click="modalConfirmSubmit(3)">审核通过</button>
	<button class="btn btn-warning" type="button" ng-click="modalConfirmSubmit(4)">审核不通过</button>
</div>