<div class="modal-header">{{title}}
    <span class="tex-red" style="font-size:14px;">(请选择与节目分辨率一致的终端下发，以免节目播放变形)</span>
</div><div class="modal-body">
    <div class="row">
        <input type="radio" style="position:absolute;z-index:-1;opacity:0;">
        <div class="col-sm-4 p0" style="line-height:28px;">
            <div class="col-sm-12 ellipsTXt p0">
                节目名称：{{data.name}}
            </div>
            <div ng-if="data.pixelVertical" class="col-sm-12 p0">
                节目分辨率：{{data.pixelHorizontal + '*' + data.pixelVertical}}
            </div>
            <div class="col-sm-12 p0">播放日期：
                <div class="tex-red" style="font-size:12px;display:inline-block;" ng-if="data.startDate > data.endDate">(结束日期不得小于开始日期)</div>
            </div>
            <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-5 p0">
                    <div class="timeSelectWrap" locale="zh-cn" change="formDate(newValue, oldValue,'startDate')" start-view="month"
                        moment-picker="" min-date="today" today="true" format="YYYY-MM-DD">
                        <span ng-class="{'text-muted': !data.startDate}" style="margin-left:0;">
                            {{ formateDate(data.startDate) || '起始日期' }}
                        </span>
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="hidden" name="startDate" ng-model="data.startDate">
                </div>
                <span class="col-sm-1 p0" style="line-height:30px;margin:0 5px;text-align:center;">至</span>
                <div class="col-sm-5 p0">
                    <div class="timeSelectWrap" locale="zh-cn" change="formDate(newValue, oldValue,'endDate')" start-view="month"
                        moment-picker="" min-date="today" today="true" format="YYYY-MM-DD" start-date="data.endDate">
                        <span ng-class="{'text-muted': !data.endDate}" style="margin-left:0;">
                            {{ formateDate(data.endDate) || '截止日期' }}
                        </span>
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="hidden" name="endDate" required ng-model="data.endDate">
                </div>
            </div>
            <div class="col-sm-12 p0">时间段：
                <div class="tex-red" style="font-size:12px;display:inline-block;" ng-if="showTip">(结束时间不得小于开始时间)</div>
            </div>
            <div class="col-sm-12 p0">
                <div class="col-sm-5 p0">
                    <div class="col-sm-6 p0" style="padding-right:1px;">
                        <select class="form-control" ng-options="h.value as h.name for h in selectH" ng-init="start_h=0" ng-model="start_h" style="padding:0;height:30px;"
                            ng-change="checkTime()">
                        </select>
                    </div>
                    <div class="col-sm-6 p0" style="padding-left:1px;">
                        <select ng-options="m.value as m.name for m in selectM" ng-init="start_m=0" class="form-control" ng-change="checkTime()"
                            ng-model="start_m" ng-disabled="start_h == 24" id="start_m" style="padding:0;height:30px;">
                        </select>
                    </div>

                </div>
                <span class="col-sm-1 p0" style="line-height:30px;margin:0 5px;text-align:center;">至</span>
                <div class="col-sm-5 p0">
                    <div class="col-sm-6 p0" style="padding-right:1px;">
                        <select ng-options="h.value as h.name for h in selectH" ng-init="end_h=24" ng-change="checkTime()" class="form-control" ng-model="end_h"
                            id="end_h" style="padding:0;height:30px;">
                        </select>
                    </div>
                    <div class="col-sm-6 p0" style="padding-left:1px;">
                        <select ng-options="m.value as m.name for m in selectM" ng-init="end_m=0" ng-change="checkTime()" class="form-control" ng-disabled="end_h == 24"
                            ng-model="end_m" id="end_m" style="padding:0;height:30px;">
                            <option ng-selected="i == end_m" ng-repeat="i in 60 | range" value="{{i}}">{{i}}分</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-8 p0">
            <div class="table-wrapper">
                <div class="clearfix">
                    <div class="fl lh34">选择下发终端：</div>
                    <div class="fl">
                        <div class="clearfix groupLeafSelect">
                            <group-leaf-select reqleafurl="{{'/api/terminal/getTerminalGroups'}}"></group-leaf-select>
                        </div>
                    </div>
                    <div class="fl">
                        <div class="panelSelectWrap">
                            <select class="form-control" ng-model="sp.resolution" ng-change="callServer(tableState)">
                                <option value="">分辨率</option>
                                <option ng-repeat="t in userData.root_programReslotions" value="{{t}}">{{t}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="fl">
                        <div class="panelSelectWrap last">
                            <select class="form-control" ng-model="sp.status" ng-change="callServer(tableState)">
                                <option value="">网络状态</option>
                                <option value="1">在线</option>
                                <option value="2">离线</option>
                                <option value="3">异常</option>
                            </select>
                        </div>
                    </div>

                </div>
                <table class="table" st-pipe="callServer" st-table="displayed">
                    <thead>
                        <tr>
                            <th class="checkBoxTable">
                                <input ng-checked="ids.length == displayed.length && displayed.length != 0" ng-click="checkAll($event)" type="checkbox">
                            </th>
                            <th>终端编号</th>
                            <th>终端名称</th>
                            <th>网络状态</th>
                            <th>分辨率</th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" class="{{$index%2 == 0?'odd':'even'}}">
                            <td class="checkBoxTable">
                                <input ng-click="checkThis(row,$event)" ng-checked="ids.indexOf(row.id) != -1" type="checkbox">
                            </td>
                            <td>{{row.no}}</td>
                            <td class="ellipsisTd">{{row.name}}</td>
                            <td>
                                <div class="txt-red" ng-if="row.status == 0">未激活</div>
                                <div class="txt-green" ng-if="row.status == 1">在线</div>
                                <div class="txt-grey" ng-if="row.status == 2">离线</div>
                                <div class="txt-red" ng-if="row.status == 3">异常</div>
                            </td>
                            <td>{{row.resolution}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-include="'tpl/table.html'"></tbody>
                    <tfoot ng-show="!isLoading" ng-include="'tpl/table_footer.html'"></tfoot>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-class="{'disabled': isPosting}" type="button" ng-click="modalConfirmSubmit()">发布
        <i class="fa fa-spinner"></i>
    </button>
    <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
</div>