<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>


<div class="modal-body">
    <form name="modalForm" novalidate>
        <div class="form-group clearfix">
            <label class="col-sm-3 form_right">原密码：</label>
            <div class="col-sm-9 form_input">
                <input type="password" placeholder="原密码" name="password" required
                    class="form-control" ng-model="data.password" />
                <div class="help-block" ng-messages="modalForm.password.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入原密码</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
                <label class="col-sm-3 form_right">新密码：</label>
                <div class="col-sm-9 form_input">
                    <input type="password" placeholder="6-16位，数字、字母组合" class="form-control" name="newPassword" ng-model="data.newPassword" required ng-pattern="/(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^.{6,16}$/" />
                    <div class="help-block" ng-messages="modalForm.newPassword.$error" ng-if="isShowMessage">
                            <p ng-message="required">请输入新密码</p>
                            <p ng-message="pattern">密码格式不正确</p>
                        </div>
                </div>
            </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 form_right">重复新密码：</label>
            <div class="col-sm-9 form_input">
                <input type="password" placeholder="重复新密码" class="form-control" name="reNewPassword" ng-model="data.reNewPassword" />
                <div class="help-block" ng-if="isShowMessage && data.newPassword && data.newPassword != data.reNewPassword">
                    <p>两次输入密码不一致</p>
                </div>
            </div>
        </div>

    </form>


</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-class="{'disabled': isPosting}" type="button" ng-click="modalConfirmSubmit()" id="form_modal_btn">确定
        <i class="fa fa-spinner"></i>
    </button>
    <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
</div>