@charset "UTF-8";
/**
 * common.scss
 * 这里放一些公用的
 */
/* line 8, app/scss/common.scss */
.txt-grey {
  color: #9f9f9f;
}
.txt-green {
  color: #0ac399;
}
.tex-red {
  color: #ff4040;
}
.btn {
  transition: .3s;
  border-radius: 6px;
  outline: none;
}
.btn:focus {
  outline: none;
}
.btn-primary {
  background: #00a0e9;
  border: 1px solid #00a0e9;
}
.btn-primary:hover {
  background: #58cbff;
  border: 1px solid #58cbff;
}
.btn-primary .fa-spinner {
  display: none;
}
.btn-primary.disabled {
  color: #a4a4a4!important;
  background: #e2e3e6;
  border: 1px solid #e2e3e6;
  cursor: pointer;
}
.btn-primary.disabled .fa-spinner {
  display: inline-block;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation: rotate 3s linear infinite;
  -moz-animation: rotate 3s linear infinite;
  -o-animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.form-control {
  padding-left: 5px;
}
a:focus,
a:hover {
  outline: none;
}
li {
  list-style-type: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.positionR {
  position: relative;
}
.nowrap {
  white-space: nowrap;
}
.dibk {
  display: block;
}
.martr20 {
  margin-right: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mrb20 {
  margin-bottom: 20px;
}
.pdl15 {
  padding-left: 15px;
}
.pdr0 {
  padding-right: 0px;
}
.pdr15 {
  padding-right: 15px;
}
.bg-red {
  background: red;
}
.tdClick {
  color: #2c2c4c;
  cursor: pointer;
}
.tdClick:hover {
  color: #00a0e9;
}
select {
  cursor: pointer;
}
.vedioPre {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.4);
  top: 15px;
  left: 25px;
  color: #fff;
  text-align: center;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.vedioPre i {
  margin-top: -4px;
  display: block;
}
.form_right {
  text-align: right;
  padding: 0px;
  line-height: 30px;
  font-weight: 400;
}
.form_input {
  line-height: 30px;
}
.moment-picker {
  z-index: 10001!important;
}
.modal-body .form-group {
  margin-bottom: 4px;
}
/* line 12, app/scss/common.scss */
.bg-mediumseagreen {
  background: mediumseagreen;
}
/* line 16, app/scss/common.scss */
.bg-yellow {
  background: #e8e855;
}
/* line 20, app/scss/common.scss */
.pointer {
  cursor: pointer;
}
.plr {
  position: relative;
}
/* line 24, app/scss/common.scss */
.border-right {
  border-right: 1px solid #ddd;
}
/* line 28, app/scss/common.scss */
.border-bottom {
  border-bottom: 1px solid #ddd;
}
/* line 32, app/scss/common.scss */
.p0 {
  padding: 0;
}
/* line 36, app/scss/common.scss */
.pl10 {
  padding-left: 10px;
}
/* line 41, app/scss/common.scss */
.w40 {
  width: 40px;
}
/* line 45, app/scss/common.scss */
.w85 {
  width: 85px;
}
/* line 49, app/scss/common.scss */
.w120 {
  width: 120px !important;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #f1f2f5;
}
/* line 53, app/scss/common.scss */
.w160 {
  width: 160px;
}
.cursorP {
  cursor: pointer;
}
a.file {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  text-indent: 0;
  padding: 0 22px;
}
a.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.form-group {
  margin-bottom: 10px;
}
.help-block {
  margin: 0;
}
.help-block p {
  color: #ff4040;
  text-align: left;
  font-size: 12px;
  margin-bottom: 0;
  padding-top: 5px;
}
div.timeSelectWrap {
  display: inline-block;
  cursor: pointer!important;
  position: relative;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: #eee;
  outline: none;
  opacity: 1;
  width: 100%;
}
.timeSelectWrap > input {
  cursor: pointer!important;
  margin-right: 0;
  width: 100%!important;
}
.timeSelectWrap .fa {
  position: absolute;
  right: 5px;
  top: 7px;
  font-size: 18px;
  color: #c4c4c4;
}
/* line 58, app/scss/common.scss */
.min-h38 {
  min-height: 38px;
}
/* line 63, app/scss/common.scss */
.no-data-panel {
  height: 280px;
  color: #959595;
  font-size: 24px;
  text-align: center;
  vertical-align: middle !important;
}
/* line 73, app/scss/common.scss */
.child-div-inline-block div {
  display: inline-block;
}
/* line 79, app/scss/common.scss */
.has-error {
  border: 1px solid red !important;
}
/* line 80, app/scss/common.scss */
.has-error:focus {
  outline: none;
}
.ellipsTXt {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.tableHeader {
  margin-bottom: 20px;
}
.selectWrap {
  float: left;
}
.serchWrap .txtInputWrap {
  width: 160px;
  margin-right: 5px;
}
.table-wrapper > table {
  border-top: 1px solid #e2e3e6;
}
.table-wrapper > table tr.odd {
  background: #f6f7fa;
}
.table-wrapper > table > thead > tr > th {
  border-bottom: 1px solid #e2e3e6;
}
.table-wrapper > table > tbody {
  border-bottom: 1px solid #e2e3e6;
}
.table-wrapper > table > tfoot > tr > td {
  border: none;
}
.table-wrapper > table > tfoot > tr > td a {
  cursor: pointer;
}
.table-wrapper th,
.table-wrapper td {
  font-size: 14px;
  vertical-align: middle!important;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 8px!important;
  line-height: 38px!important;
}
.table-wrapper th input[type="checkbox"],
.table-wrapper td input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-top: 0;
  vertical-align: middle;
}
.table-wrapper .tableBtn {
  background: #fff;
  color: #24243e;
  font-size: 14px;
  border: 1px solid #e2e3e7;
  outline: 0;
  border-radius: 6px;
  padding: 0 10px;
  line-height: 28px;
}
.pagination {
  margin: 10px 0!important;
}
.pagination a {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #00a0e9;
  color: #c4c4c4!important;
  padding: 0!important;
  text-align: center;
  line-height: 26px!important;
  margin-left: 5px!important;
  border: none!important;
}
.pagination a.next {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.pagination li.first > a,
.pagination li.last > a {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.pagination li.active a {
  color: #fff!important;
  background-color: #00a0e9;
}
.pagination li.active a:hover {
  background-color: #00a0e9;
}
.timeSelect {
  width: 100%;
  line-height: 30px;
  border-bottom: 1px solid #bbbbbb;
  outline: none;
  position: relative;
}
.timeSelect i.fa {
  position: absolute;
  right: 4px;
  top: 8px;
}
.modalDetail {
  font-size: 12px;
}
.modalDetail label {
  font-weight: 400;
}
.modalDetail .form_input,
.modalDetail .form_right {
  line-height: 24px;
}
.modalZtree {
  min-height: 300px;
  overflow: auto;
}
.groupTreeWrap .ztree li a {
  line-height: 36px;
}
.groupTreeWrap .ztree li span.button {
  background: url('../img/zTreeStandard_big.png');
}
.groupTreeWrap .ztree li ul.line {
  background: url('../img/line_conn_big.png') 16px 0 repeat-y;
}
.groupTreeWrap .ztree li span.button.switch {
  width: 36px;
  height: 36px;
}
.groupTreeWrap .ztree li span.button.root_open {
  background-position: -184px -108px;
}
.groupTreeWrap .ztree li span.button.root_close {
  background-position: -148px -108px;
}
.groupTreeWrap .ztree li span.button.roots_open {
  background-position: -184px 0;
}
.groupTreeWrap .ztree li span.button.roots_close {
  background-position: -148px 0;
}
.groupTreeWrap .ztree li span.button.center_open {
  background-position: -184px -36px;
}
.groupTreeWrap .ztree li span.button.center_close {
  background-position: -148px -36px;
}
.groupTreeWrap .ztree li span.button.bottom_open {
  background-position: -184px -72px;
}
.groupTreeWrap .ztree li span.button.bottom_close {
  background-position: -148px -72px;
}
.groupTreeWrap .ztree li span.button.noline_open {
  background-position: -184px -148px;
}
.groupTreeWrap .ztree li span.button.noline_close {
  background-position: -148px -148px;
}
.groupTreeWrap .ztree li span.button.root_docu {
  background: none;
}
.groupTreeWrap .ztree li span.button.roots_docu {
  background-position: -112px 0;
}
.groupTreeWrap .ztree li span.button.center_docu {
  background-position: -112px -36px;
}
.groupTreeWrap .ztree li span.button.bottom_docu {
  background-position: -112px -72px;
}
.groupTreeWrap .ztree li span.button.noline_docu {
  background: none;
}
.groupTreeWrap .ztree li span.button.chk {
  width: 26px;
  height: 26px;
  margin: 0 6px 0 0;
  cursor: auto;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_false_full {
  background-position: 0 0;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_false_full_focus {
  background-position: 0 -28px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_false_part {
  background-position: 0 -56px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_false_part_focus {
  background-position: 0 -84px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_false_disable {
  background-position: 0 -112px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_true_full {
  background-position: -28px 0;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_true_full_focus {
  background-position: -28px -28px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_true_part {
  background-position: -28px -56px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_true_part_focus {
  background-position: -28px -84px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_true_disable {
  background-position: -28px -112px;
}
.groupTreeWrap .ztree li span.button.chk.radio_false_full {
  background-position: -56px 0;
}
.groupTreeWrap .ztree li span.button.chk.radio_false_full_focus {
  background-position: -56px -28px;
}
.groupTreeWrap .ztree li span.button.chk.radio_false_part {
  background-position: -56px -56px;
}
.groupTreeWrap .ztree li span.button.chk.radio_false_part_focus {
  background-position: -56px -84px;
}
.groupTreeWrap .ztree li span.button.chk.radio_false_disable {
  background-position: -56px -112px;
}
.groupTreeWrap .ztree li span.button.chk.radio_true_full {
  background-position: -84px 0;
}
.groupTreeWrap .ztree li span.button.chk.radio_true_full_focus {
  background-position: -84px -28px;
}
.groupTreeWrap .ztree li span.button.chk.radio_true_part {
  background-position: -84px -56px;
}
.groupTreeWrap .ztree li span.button.chk.radio_true_part_focus {
  background-position: -84px -84px;
}
.groupTreeWrap .ztree li span.button.chk.radio_true_disable {
  background-position: -84px -112px;
}
.groupTreeWrap .ztreeBtn {
  margin-left: 5px;
  font-size: 18px;
  color: #00a0e9;
}
.groupTreeWrap li a span {
  font-size: 14px;
}
.groupTreeWrap .ztree li .checkbox_true_full + a,
.groupTreeWrap .ztree li a.curSelectedNode,
.ztree li a.curSelectedNode {
  border: 0;
  background: none;
  color: #00a0e9;
  padding: 1px 3px 0 0;
}
.groupTreeWrap .ztree li a:hover,
.ztree li a:hover {
  color: #00a0e9;
  text-decoration: none;
}
.ztree li span.button.edit {
  background: none;
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ztree li span.button.edit:before {
  content: "\e6ee";
}
.ztree li span.button.remove {
  background: none;
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ztree li span.button.remove:before {
  content: "\e6f4";
}
.smenuSideBar {
  position: fixed;
}
.smenuSideBar #menuSideBar {
  width: 280px;
}
.smenuSideBar #menuSideBar li {
  background: #fff;
}
.smenuSideBar #menuSideBar li a {
  padding-left: 140px;
  color: #000;
}
.smenuSideBar #menuSideBar li a:hover {
  background: #fff;
  color: #00a0e9;
}
.smenuSideBar #menuSideBar li a.active {
  color: #00a0e9;
  border-left: 4px solid #00a0e9;
  padding-left: 136px;
}
.mainFrameTabs {
  margin-left: 295px;
  margin-right: 15px;
  padding: 20px;
  margin-bottom: 15px;
}
.mainFrameTabs .page-header {
  margin: 0;
}
.mainFrameTabs .ui_content_div {
  padding: 20px 0;
  line-height: 32px;
  border-bottom: 1px solid #eee;
}
.mainFrameTabs h3 {
  margin: 0 0 10px 0;
}
.mainFrameTabs .grid_wrapper .grid {
  overflow: hidden;
  padding: 0;
  margin: 20px auto;
}
.mainFrameTabs .grid_wrapper .grid li {
  float: left;
  width: 130px;
  height: 130px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  -moz-box-shadow: 0 0 4px #999;
  -webkit-box-shadow: 0 0 4px #999;
  box-shadow: 0 0 4px #999;
}
#wrapper {
  background: #f1f2f5;
}
#topNav {
  height: 70px;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}
#topNav .logoImg {
  width: 220px;
  height: auto;
  max-height: 55px;
}
#topNav .navbar-brand {
  padding: 5px 10px;
}
#topNav .navbar-right {
  height: 70px;
}
#topNav .navbar-right > li {
  top: 0;
  margin-right: 30px;
}
#topNav .navbar-right > li.open > a {
  background: #fff!important;
}
#topNav .navbar-right > li .userName {
  display: inline-block;
  margin: 0px 5px 0 10px;
  color: #000;
  vertical-align: 7px;
}
#topNav .navbar-right > li > a {
  padding: 0;
  line-height: 62px;
  cursor: pointer;
}
#topNav .navbar-right > li > a .icon-touxiang {
  font-size: 36px;
}
#topNav .navbar-right > li > a:focus {
  background: #fff!important;
}
#topNav .navbar-right > li > a > i {
  font-size: 32px;
  color: #000;
}
#topNav .navbar-right > li > a:hover {
  color: #00a0e9;
}
#topNav .navbar-right > li > a:hover > i {
  color: #00a0e9;
}
#topNav .navbar-right > li > a:hover .userName {
  color: #00a0e9;
}
#topNav .navbar-right > li .indicator {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 10px;
  background: #ff3e3e;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
}
#topNav .loginBth {
  line-height: 70px;
  padding-right: 15px;
  text-decoration: none;
  color: #00a0e9;
}
#topNav .navbar-static-side {
  margin-top: 70px;
  position: fixed;
  height: 100%;
  background: #24243e;
  width: 250px;
}
#topNav .navbar-static-side .progressWrap {
  position: absolute;
  bottom: 90px;
  width: 90%;
  left: 5%;
  color: #9f9f9f;
  font-size: 12px;
  z-index: 0;
}
#topNav .navbar-static-side .progressWrap .progress {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
#topNav .navbar-static-side .progressWrap .progress .progress-bar-danger {
  background-color: #00a0e9;
}
#topNav .navbar-static-side .nav {
  position: relative;
  z-index: 10;
  background: #24243e;
}
#topNav .navbar-static-side .nav li a {
  transition: .3s;
  color: #fff;
  padding-left: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#topNav .navbar-static-side .nav li a .arrow {
  line-height: 32px;
}
#topNav .navbar-static-side .nav li a .iconfont {
  display: inline-block;
  font-size: 24px;
  margin-right: 15px;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}
#topNav .navbar-static-side .nav li a.active {
  color: #00a0e9;
  background: #2c2c4c;
}
#topNav .navbar-static-side .nav li a:hover {
  color: #00a0e9;
  background: #2c2c4c;
}
#topNav .navbar-static-side .nav li .navSecondLevel {
  cursor: pointer;
}
#topNav .navbar-static-side .nav li .navSecondLevel.current {
  background: #2c2c4c;
}
#topNav .navbar-static-side .nav li .navSecondLevel.current .arrow::before {
  content: "\f107";
}
#topNav .navbar-static-side .nav li .navSecondLevel + .nav-second-level {
  background: #0f0c29;
}
#topNav .navbar-static-side .nav li .navSecondLevel + .nav-second-level li a {
  font-size: 13px;
  padding-left: 90px;
  line-height: 24px;
}
.dropdown-menu {
  margin: 0;
  padding: 0;
}
.dropdown-menu li {
  margin-right: 0!important;
}
.dropdown-menu.dropdown-user li {
  overflow: hidden;
}
.dropdown-menu.dropdown-user li a {
  padding: 5px 0!important;
}
.dropdown-menu.dropdown-user li a:hover {
  background: #f1f2f5!important;
}
.dropdown-menu.dropdown-user .iconWrap {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  margin: 6px 10px;
}
.dropdown-menu.dropdown-user .iconWrap i {
  font-size: 20px;
  color: #fff;
  display: inline-block;
  width: 22px;
  height: 20px;
  vertical-align: middle;
}
.dropdown-menu.dropdown-message {
  width: 220px;
  height: 250px;
}
.dropdown-menu.dropdown-message .dropdown-item {
  padding: 5px 0;
  cursor: pointer;
}
.dropdown-menu.dropdown-message .dropdown-item:hover {
  background: #f1f2f5;
  color: #00a0e9;
}
.dropdown-menu.dropdown-message h6 {
  background: #fff;
  padding: 8px 10px;
  border-bottom: 1px solid #e2e3e6;
  margin: 0;
  font-size: 14px;
  color: #24243e;
}
.dropdown-menu.dropdown-message h6 span.fr {
  background: #ff4040;
  padding: 5px 8px;
  color: #fff;
  border-radius: 6px;
  line-height: 10px;
  font-size: 12px;
}
.dropdown-menu.dropdown-message span.messageLeft {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: red;
  line-height: 36px;
  text-align: center;
  margin: 6px 10px;
}
.dropdown-menu.dropdown-message span.messageLeft i {
  font-size: 20px;
  color: #fff;
  display: inline-block;
  width: 22px;
  height: 20px;
}
.content-wrap {
  margin: 90px 20px 0 270px;
  padding: 15px;
  background: #fff;
  min-height: 400px;
}
.ngdialog-content .modal-header {
  padding: 0 0 15px 0;
}
.ngdialog-content .modal-footer {
  border-top: none;
  text-align: center;
}
.ngdialog-content .modal-footer .btn {
  display: inline-block;
  line-height: 46px;
  padding: 0 48px;
}
