@charset "UTF-8";
/**
 * common.scss
 * 这里放一些公用的
 */
/* line 8, app/scss/common.scss */
.txt-grey {
  color: #9f9f9f;
}
.txt-green {
  color: #0ac399;
}
.tex-red {
  color: #ff4040;
}
.btn {
  transition: .3s;
  border-radius: 6px;
  outline: none;
}
.btn:focus {
  outline: none!important;
}
.fullScreenBtn {
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  border: none;
  padding: 4px 7px;
  opacity: 0.6;
  transition: .3s;
  outline: none;
}
.fullScreenBtn .fa {
  color: #fff;
  font-size: 24px;
}
.fullScreenBtn:hover {
  opacity: 1;
}
.btn-default:hover {
  background: #f9f9f9;
  border: 1px solid #e2e3e7;
}
.btn-primary {
  background: #00a0e9;
  border: 1px solid #00a0e9;
  position: relative;
}
.btn-primary:focus {
  background: #00a0e9;
  border: 1px solid #00a0e9;
}
.btn-primary:hover {
  background: #20b8fe;
  border: 1px solid #20b8fe;
}
.btn-primary .fa-spinner {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 20px;
  display: none;
}
.btn-primary.disabled {
  color: #a4a4a4!important;
  background: #e2e3e6!important;
  border: 1px solid #e2e3e6!important;
  cursor: pointer;
}
.btn-primary.disabled .fa-spinner {
  display: inline-block;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation: rotate 3s linear infinite;
  -moz-animation: rotate 3s linear infinite;
  -o-animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.form-control {
  padding-left: 5px;
}
.form-control:focus {
  -webkit-box-shadow: inset 0 0px 2px #99e0ff;
  box-shadow: inset 0 0px 2px #99e0ff;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-radio {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin: 0!important;
}
.tbxeditWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-left: 60px;
}
a:focus,
a:hover,
input:focus {
  outline: none!important;
}
li {
  list-style-type: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.positionR {
  position: relative;
}
.nowrap {
  white-space: nowrap;
}
.col-2 {
  display: inline-block;
  width: 20%;
}
.col-3 {
  display: inline-block;
  width: 30%;
}
.col-4 {
  display: inline-block;
  width: 40%;
}
.col-5 {
  display: inline-block;
  width: 50%;
}
.col-6 {
  display: inline-block;
  width: 50%;
}
.dibik {
  display: inline-block;
}
.dibk {
  display: block;
}
.mart0 {
  margin-top: 0;
}
.martr20 {
  margin-right: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mrb20 {
  margin-bottom: 20px;
}
.pdl15 {
  padding-left: 15px;
}
.pdl0 {
  padding-left: 0px;
}
.pdr0 {
  padding-right: 0px;
}
.pdr15 {
  padding-right: 15px;
}
.bg-red {
  background: red;
}
.bg-white {
  background: #fff;
}
.lh34 {
  line-height: 34px;
}
.h34 {
  height: 34px;
}
.h34 i {
  vertical-align: middle;
}
.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left!important;
}
.txt-right {
  text-align: right;
}
.tdClick {
  color: #2c2c4c;
  cursor: pointer;
}
.tdClick:hover {
  color: #00a0e9;
}
.fa-close:before {
  content: '\00D7';
}
select {
  cursor: pointer;
}
.instructionWrap {
  position: relative;
}
.instructionWrap .iconTip {
  color: #444;
  cursor: pointer;
  font-size: 18px;
}
.instructionWrap .dropdown-tip {
  padding: 5px;
  font-size: 12px;
  line-height: 18px;
  min-width: 252px;
}
.instructionWrap .dropdown-tip::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 5px;
  padding: 0;
  border-bottom: 12px solid #ccc;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.instructionWrap .dropdown-tip::after {
  content: '';
  position: absolute;
  top: -19px;
  left: 5px;
  padding: 0;
  border-bottom: 12px solid #fff;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.instructionWrap .dropdown-tip p {
  margin: 0 0 5px;
}
/* 上传窗口 */
.dialog-upload {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 530px;
  background: #fff;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
}
.dialog-upload.dhide {
  bottom: -270px;
  display: block;
}
.dialog-upload-header {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 44px;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
  padding-right: 10px;
}
.dialog-upload-header .btnHead {
  font-size: 20px;
  color: #bbb;
  vertical-align: -3px;
  cursor: pointer;
}
.dialog-upload-header i.fa-minus {
  border-top: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
}
.dialog-upload-header i.fa-minus::before,
.dialog-upload-header i.fa-window-maximize::before {
  display: none;
}
.dialog-upload-header .btnHead .fa-window-maximize {
  width: 12px;
  display: inline-block;
  height: 12px;
  border: 1px solid #bbb;
  border-top: 2px solid #bbb;
  vertical-align: middle;
}
.dialog-upload-content {
  padding: 0 10px;
  min-height: 270px;
  max-height: 400px;
  overflow-y: auto;
}
.dialog-upload-content .table > tbody > tr > td {
  vertical-align: middle;
}
.dialog-upload-content .btn:focus {
  box-shadow: none;
}
.dialog-upload-header .right span {
  cursor: pointer;
}
.dialog-upload-content .pause {
  display: inline-block;
  font-size: 20px;
  width: 10px;
  height: 14px;
  border-left: 2px solid #666;
  border-right: 2px solid #666;
}
.vedioPre {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.4);
  top: 15px;
  left: 25px;
  color: #fff;
  text-align: center;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.vedioPre i {
  margin-top: -4px;
  display: block;
}
.form_right {
  text-align: right;
  padding: 0px;
  line-height: 30px;
  font-weight: 400;
}
.form_input {
  line-height: 30px;
}
.moment-picker {
  z-index: 10001!important;
}
/* line 20, app/scss/common.scss */
.pointer {
  cursor: pointer;
}
.plr {
  position: relative;
}
/* line 24, app/scss/common.scss */
.border-right {
  border-right: 1px solid #ddd;
}
/* line 28, app/scss/common.scss */
.border-bottom {
  border-bottom: 1px solid #ddd;
}
/* line 32, app/scss/common.scss */
.p0 {
  padding: 0;
}
/* line 36, app/scss/common.scss */
.pl10 {
  padding-left: 10px;
}
/* line 41, app/scss/common.scss */
.w40 {
  width: 40px;
}
/* line 45, app/scss/common.scss */
.w85 {
  width: 85px;
}
/* line 49, app/scss/common.scss */
.w120 {
  width: 120px !important;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #f1f2f5;
}
/* line 53, app/scss/common.scss */
.w160 {
  width: 160px;
}
.cursorP {
  cursor: pointer;
}
a.file {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  text-indent: 0;
  padding: 0 22px;
  background: #00a0e9;
}
a.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.form-group {
  margin-bottom: 10px;
}
.help-block {
  margin: 0;
}
.help-block p {
  color: #ff4040;
  text-align: left;
  font-size: 12px;
  margin-bottom: 0;
  padding-top: 5px;
}
div.timeSelectWrap {
  display: inline-block;
  cursor: pointer!important;
  position: relative;
  height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  outline: none;
  opacity: 1;
  width: 100%;
}
.timeSelectWrap > input {
  cursor: pointer!important;
  margin-right: 0;
  width: 100%!important;
}
.timeSelectWrap .fa {
  position: absolute;
  right: 5px;
  top: 7px;
  font-size: 18px;
  color: #c4c4c4;
}
.image-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 100000;
}
.image-view .imgWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  vertical-align: middle;
}
.image-view .imgWrap span {
  position: relative;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.image-view .closePreview {
  position: absolute;
  top: 0px;
  right: 10px;
  color: #9f9f9f;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}
.image-view .closePreview:hover {
  color: #000;
}
.image-view .closePreview i {
  font-size: 32px;
}
.image-view .closePreview i:before {
  content: '\00D7';
}
.diy_select {
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 34px;
}
.diy_select .diy_select_txt {
  cursor: pointer;
  padding: 0 20px 0 5px;
}
.diy_select .diy_select_list {
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 88;
  border-top: none;
  width: 101%;
  background: #fff;
  border: 1px solid #73839F;
  min-width: 160px;
  min-height: 250px;
  max-height: 280px;
  overflow: auto;
}
.diy_select .diy_select_list > ul {
  padding: 0;
}
.groupSelect .diy_select_txt {
  background: url(../img/select_arrow.png) right center no-repeat;
}
.groupLeafSelect .groupSelect {
  width: 232px;
}
.groupLeafSelect .diy_select {
  width: 44%;
  display: inline-block;
  margin-right: 10px;
}
.groupLeafSelect .diy_select .diy_select_txt {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.groupLeafSelect .diy_select_list .selectUl {
  margin-bottom: 0;
}
.groupLeafSelect .diy_select_list .selectUl li {
  line-height: 24px;
  padding: 0 5px;
}
.groupLeafSelect .diy_select_list .selectUl li:hover {
  cursor: pointer;
  background: #1e90ff;
  color: #fff;
}
.modalGroup .diy_select_list {
  left: -84%;
}
.groupWrap.form {
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-right: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/* line 58, app/scss/common.scss */
.min-h38 {
  min-height: 38px;
}
/* line 63, app/scss/common.scss */
.no-data-panel {
  height: 280px;
  color: #959595;
  font-size: 24px;
  text-align: center;
  vertical-align: middle !important;
}
/* line 73, app/scss/common.scss */
.child-div-inline-block div {
  display: inline-block;
}
/* line 79, app/scss/common.scss */
.has-error {
  border: 1px solid red !important;
}
/* line 80, app/scss/common.scss */
.has-error:focus {
  outline: none;
}
.ellipsTXt {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.panelSelectWrap {
  display: inline-block;
  margin-right: 20px;
}
.panelSelectWrap select {
  border: 0;
  box-shadow: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../img/select_arrow.png) right center no-repeat;
  text-align: left;
  padding-right: 20px;
}
.panelSelectWrap select:focus {
  box-shadow: none;
}
.tableHeader {
  margin-bottom: 20px;
}
.tableHeader .panel {
  margin-bottom: 0;
  background: #f6f7fa;
  border-radius: 0;
  padding: 0 10px;
}
.tableHeader .panel .panelRow {
  line-height: 36px;
  border-bottom: 1px dashed #ddd;
  position: relative;
}
.tableHeader .panel .panelRow.last {
  border-bottom: none;
}
.tableHeader .panel .panelRow .panel-left {
  padding: 0 15px;
  color: #9f9f9f;
  display: inline-block;
}
.tableHeader .panel .panelRow .panel-right {
  display: inline-block;
}
.tableHeader .panel .panelRow .panel-right .leafGroup {
  padding-left: 5px;
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
}
.tableHeader .panel .panelRow .panel-right .leafGroup i {
  cursor: pointer;
  margin-left: 10px;
  display: none;
}
.tableHeader .panel .panelRow .panel-right .leafGroup .leafEdit {
  display: none;
}
.tableHeader .panel .panelRow .panel-right .leafGroup .leafEdit input {
  line-height: 32px;
  width: 160px;
}
.tableHeader .panel .panelRow .panel-right .leafGroup.current {
  color: #00a0e9;
}
.tableHeader .panel .panelRow .panel-right .leafGroup.current i {
  display: inline-block;
}
.tableHeader .panel .panelRow .panel-right .leafGroup.edit .leafName,
.tableHeader .panel .panelRow .panel-right .leafGroup.edit i {
  display: none;
}
.tableHeader .panel .panelRow .panel-right .leafGroup.edit .leafEdit {
  display: inline-block;
}
.selectWrap {
  float: left;
}
.serchWrap .txtInputWrap {
  width: 160px;
  margin-right: 5px;
}
.table-wrapper {
  background: #fff;
  padding: 20px;
}
.table-wrapper > table {
  border-top: 1px solid #e2e3e6;
}
.table-wrapper > table tr.odd {
  background: #f6f7fa;
}
.table-wrapper > table > thead > tr > th {
  border-bottom: 1px solid #e2e3e6;
}
.table-wrapper > table > tbody {
  border-bottom: 1px solid #e2e3e6;
}
.table-wrapper > table > tfoot > tr > td {
  border: none;
}
.table-wrapper > table > tfoot > tr > td a {
  cursor: pointer;
}
.table-wrapper th,
.table-wrapper td {
  font-size: 14px;
  vertical-align: middle!important;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 8px!important;
  line-height: 38px!important;
}
.table-wrapper th.checkBoxTable,
.table-wrapper td.checkBoxTable {
  width: 30px;
  padding-right: 0!important;
}
.table-wrapper th input[type="checkbox"],
.table-wrapper td input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-top: 0;
  vertical-align: middle;
}
.table-wrapper .tableBtn {
  background: #fff;
  color: #24243e;
  font-size: 14px;
  border: 1px solid #e2e3e7;
  outline: 0;
  border-radius: 6px;
  padding: 0 10px;
  line-height: 28px;
}
.table-wrapper .tableBtn.disabled {
  color: #9f9f9f;
}
.table-wrapper .tableBtn:hover {
  background: #f9f9f9;
}
.table-wrapper.mid-table {
  background: #f6f7fa;
}
.table-wrapper.mid-table table {
  border-top: 0;
}
.table-wrapper.mid-table table > thead {
  background: #dbdcdf;
}
.table-wrapper.mid-table table > thead th {
  border-bottom: 0;
  font-weight: 400;
  color: #9f9f9f;
}
.table-wrapper.mid-table table > tbody td {
  border-top: 0;
}
.pagination {
  margin: 10px 0!important;
}
.pagination a {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #00a0e9;
  color: #c4c4c4!important;
  padding: 0!important;
  text-align: center;
  line-height: 26px!important;
  margin-left: 5px!important;
  border: none!important;
}
.pagination .fa-caret-left,
.pagination .fa-caret-right {
  font-size: 24px;
  vertical-align: middle;
}
.pagination a.next {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.pagination li.first > a,
.pagination li.last > a {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.pagination li.active a {
  color: #fff!important;
  background-color: #00a0e9;
}
.pagination li.active a:hover {
  background-color: #00a0e9;
}
.pagination .ellipsis {
  color: #c4c4c4;
}
.pagination .ellipsis:hover {
  background: #fff;
  color: #c4c4c4;
}
.timeSelect {
  width: 100%;
  line-height: 30px;
  border-bottom: 1px solid #bbbbbb;
  outline: none;
  position: relative;
}
.timeSelect i.fa {
  position: absolute;
  right: 4px;
  top: 8px;
}
/* 群组树 */
.ztree li a {
  line-height: 27px;
}
.ztree li ul.line {
  background: url('../img/line_conn.gif') 4px 0px repeat-y;
}
.ztree li span.button {
  background: url('../img/zTreeStandard_mid.png');
}
.ztree li span.button.switch {
  width: 27px;
  height: 27px;
}
.ztree li span.button.root_open {
  background-position: -138px -81px;
}
.ztree li span.button.root_close {
  background-position: -111px -81px;
}
.ztree li span.button.roots_open {
  background-position: -138px 0;
}
.ztree li span.button.roots_close {
  background-position: -111px 0;
}
.ztree li span.button.center_open {
  background-position: -138px -27px;
}
.ztree li span.button.center_close {
  background-position: -111px -27px;
}
.ztree li span.button.bottom_open {
  background-position: -138px -54px;
}
.ztree li span.button.bottom_close {
  background-position: -111px -54px;
}
.ztree li span.button.noline_open {
  background-position: -138px -108px;
}
.ztree li span.button.noline_close {
  background-position: -111px -108px;
}
.ztree li span.button.root_docu {
  background: none;
}
.ztree li span.button.roots_docu {
  background-position: -84px 0;
}
.ztree li span.button.center_docu {
  background-position: -84px -27px;
}
.ztree li span.button.bottom_docu {
  background-position: -84px -54px;
}
.ztree li span.button.noline_docu {
  background: none;
}
.modalZtree {
  min-height: 300px;
  margin-top: -10px;
}
.groupTreeWrap {
  background: #fff;
  min-height: 400px;
}
.groupTreeWrap .curSelectedNode_Edit input {
  line-height: 24px!important;
  height: 24px!important;
  font-size: 14px!important;
}
.groupTreeWrap .ztree li a {
  line-height: 36px;
}
.groupTreeWrap .ztree li span.button {
  background: url('../img/zTreeStandard_big.png');
}
.groupTreeWrap .ztree li ul.line {
  background: url('../img/line_conn_big.png') 16px 0 repeat-y;
}
.groupTreeWrap .ztree li span.button.switch {
  width: 36px;
  height: 36px;
}
.groupTreeWrap .ztree li span.button.root_open {
  background-position: -184px -108px;
}
.groupTreeWrap .ztree li span.button.root_close {
  background-position: -148px -108px;
}
.groupTreeWrap .ztree li span.button.roots_open {
  background-position: -184px 0;
}
.groupTreeWrap .ztree li span.button.roots_close {
  background-position: -148px 0;
}
.groupTreeWrap .ztree li span.button.center_open {
  background-position: -184px -36px;
}
.groupTreeWrap .ztree li span.button.center_close {
  background-position: -148px -36px;
}
.groupTreeWrap .ztree li span.button.bottom_open {
  background-position: -184px -72px;
}
.groupTreeWrap .ztree li span.button.bottom_close {
  background-position: -148px -72px;
}
.groupTreeWrap .ztree li span.button.noline_open {
  background-position: -184px -148px;
}
.groupTreeWrap .ztree li span.button.noline_close {
  background-position: -148px -148px;
}
.groupTreeWrap .ztree li span.button.root_docu {
  background: none;
}
.groupTreeWrap .ztree li span.button.roots_docu {
  background-position: -112px 0;
}
.groupTreeWrap .ztree li span.button.center_docu {
  background-position: -112px -36px;
}
.groupTreeWrap .ztree li span.button.bottom_docu {
  background-position: -112px -72px;
}
.groupTreeWrap .ztree li span.button.noline_docu {
  background: none;
}
.groupTreeWrap .ztree li span.button.chk {
  width: 26px;
  height: 26px;
  margin: 0 6px 0 0;
  cursor: auto;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_false_full {
  background-position: 0 0;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_false_full_focus {
  background-position: 0 -28px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_false_part {
  background-position: 0 -56px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_false_part_focus {
  background-position: 0 -84px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_false_disable {
  background-position: 0 -112px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_true_full {
  background-position: -28px 0;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_true_full_focus {
  background-position: -28px -28px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_true_part {
  background-position: -28px -56px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_true_part_focus {
  background-position: -28px -84px;
}
.groupTreeWrap .ztree li span.button.chk.checkbox_true_disable {
  background-position: -28px -112px;
}
.groupTreeWrap .ztree li span.button.chk.radio_false_full {
  background-position: -56px 0;
}
.groupTreeWrap .ztree li span.button.chk.radio_false_full_focus {
  background-position: -56px -28px;
}
.groupTreeWrap .ztree li span.button.chk.radio_false_part {
  background-position: -56px -56px;
}
.groupTreeWrap .ztree li span.button.chk.radio_false_part_focus {
  background-position: -56px -84px;
}
.groupTreeWrap .ztree li span.button.chk.radio_false_disable {
  background-position: -56px -112px;
}
.groupTreeWrap .ztree li span.button.chk.radio_true_full {
  background-position: -84px 0;
}
.groupTreeWrap .ztree li span.button.chk.radio_true_full_focus {
  background-position: -84px -28px;
}
.groupTreeWrap .ztree li span.button.chk.radio_true_part {
  background-position: -84px -56px;
}
.groupTreeWrap .ztree li span.button.chk.radio_true_part_focus {
  background-position: -84px -84px;
}
.groupTreeWrap .ztree li span.button.chk.radio_true_disable {
  background-position: -84px -112px;
}
.groupTreeWrap .ztreeBtn {
  margin-left: 5px;
  font-size: 18px;
  color: #00a0e9;
}
.groupTreeWrap li a span {
  font-size: 14px;
}
.groupTreeWrap .ztree li .checkbox_true_full + a,
.groupTreeWrap .ztree li a.curSelectedNode,
.ztree li a.curSelectedNode {
  border: 0;
  background: none;
  color: #00a0e9;
  padding: 1px 3px 0 0;
}
.groupTreeWrap .ztree li a:hover,
.ztree li a:hover {
  color: #00a0e9;
  text-decoration: none;
}
.ztree li span.button.edit {
  background: none;
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ztree li span.button.edit:before {
  content: "\e6ee";
}
.ztree li span.button.remove {
  background: none;
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ztree li span.button.remove:before {
  content: "\e6f4";
}
.smenuSideBar {
  position: fixed;
}
.smenuSideBar #menuSideBar {
  width: 280px;
}
.smenuSideBar #menuSideBar li {
  background: #fff;
}
.smenuSideBar #menuSideBar li a {
  padding-left: 140px;
  background: #fff;
  color: #000;
}
.smenuSideBar #menuSideBar li a:hover {
  background: #fff;
  color: #00a0e9;
}
.smenuSideBar #menuSideBar li a.active {
  color: #00a0e9;
  border-left: 4px solid #00a0e9;
  padding-left: 136px;
}
.mainFrameTabs {
  margin-left: 295px;
  margin-right: 15px;
  padding: 20px;
  margin-bottom: 15px;
}
.mainFrameTabs .page-header {
  margin: 0;
}
.mainFrameTabs .ui_content_div {
  padding: 20px 0;
  line-height: 32px;
  border-bottom: 1px solid #eee;
}
.mainFrameTabs h3 {
  margin: 0 0 10px 0;
}
.mainFrameTabs .grid_wrapper .grid {
  overflow: hidden;
  padding: 0;
  margin: 20px auto;
}
.mainFrameTabs .grid_wrapper .grid li {
  float: left;
  width: 130px;
  height: 130px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  -moz-box-shadow: 0 0 4px #999;
  -webkit-box-shadow: 0 0 4px #999;
  box-shadow: 0 0 4px #999;
}
#wrapper {
  background: #f1f2f5;
}
#topNav {
  height: 70px;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}
#topNav .logoImg {
  width: 220px;
  height: auto;
  max-height: 55px;
}
#topNav .navbar-brand {
  padding: 5px 10px;
}
#topNav .navbar-header {
  float: left;
}
#topNav .navbar-right {
  height: 70px;
  float: right;
}
#topNav .navbar-right > li {
  top: 0;
  margin-right: 30px;
}
#topNav .navbar-right > li.open > a {
  background: #fff!important;
}
#topNav .navbar-right > li .userName {
  display: inline-block;
  margin: 0px 5px 0 10px;
  color: #000;
  vertical-align: 7px;
}
#topNav .navbar-right > li > a {
  padding: 0;
  line-height: 61px;
  cursor: pointer;
}
#topNav .navbar-right > li > a .icon-touxiang {
  font-size: 36px;
}
#topNav .navbar-right > li > a:focus,
#topNav .navbar-right > li > a:hover {
  background: #fff!important;
}
#topNav .navbar-right > li > a > i {
  font-size: 32px;
  color: #000;
}
#topNav .navbar-right > li > a:hover {
  color: #00a0e9;
}
#topNav .navbar-right > li > a:hover > i {
  color: #00a0e9;
}
#topNav .navbar-right > li > a:hover .userName {
  color: #00a0e9;
}
#topNav .navbar-right > li .indicator {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 10px;
  background: #ff3e3e;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
}
#topNav .loginBth {
  line-height: 70px;
  padding-right: 15px;
  text-decoration: none;
  color: #00a0e9;
}
#topNav .navbar-static-side {
  margin-top: 70px;
  position: fixed;
  height: 100%;
  background: #24243e;
  width: 250px;
}
#topNav .navbar-static-side .progressWrap {
  position: absolute;
  bottom: 90px;
  width: 90%;
  left: 5%;
  color: #9f9f9f;
  font-size: 12px;
  z-index: 0;
}
#topNav .navbar-static-side .progressWrap .progress {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
#topNav .navbar-static-side .progressWrap .progress .progress-bar-danger {
  background-color: #00a0e9;
}
#topNav .navbar-static-side .progressWrap .text-muted {
  color: #9f9f9f;
}
#topNav .navbar-static-side .nav {
  position: relative;
  z-index: 10;
  background: #24243e;
}
#topNav .navbar-static-side .nav li a {
  transition-property: color;
  -moz-transition-property: color;
  /* Firefox 4 */
  -webkit-transition-property: color;
  /* Safari 和 Chrome */
  -o-transition-property: color;
  /* Opera */
  transition-property: background;
  -moz-transition-property: background;
  /* Firefox 4 */
  -webkit-transition-property: background;
  /* Safari 和 Chrome */
  -o-transition-property: background;
  /* Opera */
  transition-duration: .3s;
  -moz-transition-duration: .3s;
  /* Firefox 4 */
  -webkit-transition-duration: .3s;
  /* Safari 和 Chrome */
  -o-transition-duration: .3s;
  /* Opera */
  color: #fff;
  padding-left: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#topNav .navbar-static-side .nav li a .arrow {
  line-height: 32px;
}
#topNav .navbar-static-side .nav li a .iconfont {
  display: inline-block;
  font-size: 24px;
  margin-right: 15px;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}
#topNav .navbar-static-side .nav li a.active {
  color: #00a0e9;
}
#topNav .navbar-static-side .nav li a:hover {
  color: #00a0e9;
  background: #2c2c4c;
}
#topNav .navbar-static-side .nav li.firstNav a {
  background: #24243e;
}
#topNav .navbar-static-side .nav li.firstNav a:hover {
  color: #00a0e9;
  background: #2c2c4c;
}
#topNav .navbar-static-side .nav li.firstNav a.active {
  background: #2c2c4c;
  padding-left: 21px;
  border-left: 4px solid #00a0e9;
}
#topNav .navbar-static-side .nav li .indicator {
  font-size: 10px;
  background: #ff3e3e;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  margin-left: 15px;
}
#topNav .navbar-static-side .nav li .navSecondLevel {
  cursor: pointer;
  position: relative;
}
#topNav .navbar-static-side .nav li .navSecondLevel.active {
  background: #2c2c4c;
  color: #fff;
}
#topNav .navbar-static-side .nav li .navSecondLevel.active .arrow::before {
  content: "\f107";
}
#topNav .navbar-static-side .nav li .navSecondLevel + .nav-second-level {
  background: #0f0c29;
}
#topNav .navbar-static-side .nav li .navSecondLevel + .nav-second-level li a {
  background: #0f0c29;
  font-size: 13px;
  padding-left: 90px;
  line-height: 24px;
  opacity: .8;
  transition-duration: .3s;
  -moz-transition-duration: .3s;
  /* Firefox 4 */
  -webkit-transition-duration: .3s;
  /* Safari 和 Chrome */
  -o-transition-duration: .3s;
  /* Opera */
}
#topNav .navbar-static-side .nav li .navSecondLevel + .nav-second-level li a:hover {
  opacity: 1;
  color: #00a0e9;
  background: #0f0c29;
}
#topNav .navbar-static-side .nav li .navSecondLevel + .nav-second-level li a:active {
  opacity: 1;
  color: #00a0e9;
  background: #0f0c29;
}
#topNav .navbar-static-side .nav li.current .navSecondLevel {
  padding-left: 21px;
  border-left: 4px solid #00a0e9;
}
.dropdown-menu {
  margin: 0;
  padding: 0;
}
.dropdown-menu li {
  margin-right: 0!important;
}
.dropdown-menu.dropdown-alerts li {
  border-bottom: 1px solid #eee;
}
.dropdown-menu.dropdown-alerts li a {
  padding: 0 5px;
  line-height: 36px;
}
.dropdown-menu.dropdown-user li {
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.dropdown-menu.dropdown-user li a {
  padding: 5px 0!important;
}
.dropdown-menu.dropdown-user li a:hover {
  background: #f1f2f5!important;
}
.dropdown-menu.dropdown-user .iconWrap {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  margin: 6px 10px;
}
.dropdown-menu.dropdown-user .iconWrap i {
  font-size: 20px;
  color: #fff;
  display: inline-block;
  width: 22px;
  height: 20px;
  vertical-align: middle;
}
.dropdown-menu.dropdown-message {
  width: 220px;
  height: 250px;
}
.dropdown-menu.dropdown-message .dropdown-item {
  padding: 5px 0;
  cursor: pointer;
}
.dropdown-menu.dropdown-message .dropdown-item:hover {
  background: #f1f2f5;
  color: #00a0e9;
}
.dropdown-menu.dropdown-message h6 {
  background: #fff;
  padding: 8px 10px;
  border-bottom: 1px solid #e2e3e6;
  margin: 0;
  font-size: 14px;
  color: #24243e;
}
.dropdown-menu.dropdown-message h6 span.fr {
  background: #ff4040;
  padding: 5px 8px;
  color: #fff;
  border-radius: 6px;
  line-height: 10px;
  font-size: 12px;
}
.dropdown-menu.dropdown-message span.messageLeft {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: red;
  line-height: 36px;
  text-align: center;
  margin: 6px 10px;
}
.dropdown-menu.dropdown-message span.messageLeft i {
  font-size: 20px;
  color: #fff;
  display: inline-block;
  width: 22px;
  height: 20px;
}
.content-wrap {
  margin: 90px 20px 20px 270px;
  min-height: 400px;
}
.content-wrap > .level2 {
  margin-bottom: 20px;
}
.content-wrap > .level2 .form-control {
  background: transparent;
}
.tipBtnWrap {
  display: inline-block;
  position: relative;
}
.tipBtnWrap .tipDiv {
  z-index: 100;
  padding: 0 20px;
  border-radius: 6px;
  position: absolute;
  background: red;
  top: 100%;
  left: 0px;
  line-height: 36px;
  color: #fff;
  white-space: nowrap;
  display: none;
}
.ngdialog.no-overlay {
  background: none;
}
.ngdialog.no-overlay .ngdialog-overlay {
  display: none;
}
.ngdialog-content .modal-header {
  padding: 0 0 15px 0;
}
.ngdialog-content .modal-body .table-wrapper {
  padding: 0;
}
.ngdialog-content .modal-body .form-group label {
  margin-bottom: 0;
  line-height: 34px;
  text-align: left;
  font-weight: 400;
  text-align: right;
}
.ngdialog-content .modal-body .table {
  margin-bottom: 0;
}
.ngdialog-content .modal-body .table th,
.ngdialog-content .modal-body .table td {
  font-size: 13px;
  line-height: 30px!important;
}
.ngdialog-content .modal-body .panelSelectWrap {
  margin-right: 10px;
}
.ngdialog-content .modal-body .panelSelectWrap.last {
  margin-right: 0px;
}
.ngdialog-content .modal-body .modalDetail {
  font-size: 12px;
}
.ngdialog-content .modal-body .modalDetail .form_input,
.ngdialog-content .modal-body .modalDetail .form_right {
  line-height: 24px;
}
.ngdialog-content .modal-body .modalDetail .form-group {
  margin-bottom: 0;
}
.ngdialog-content .modal-body .modalDetail .form-group label {
  margin-bottom: 0;
  line-height: 24px;
  text-align: left;
  font-weight: 400;
}
.ngdialog-content .modal-footer {
  border-top: none;
  text-align: center;
}
.ngdialog-content .modal-footer .btn {
  display: inline-block;
  line-height: 46px;
  padding: 0 48px;
}
#topNav .navbar-static-side.txeit {
  width: 60px;
}
#topNav .navbar-static-side.txeit .navTle,
#topNav .navbar-static-side.txeit .arrow {
  display: none;
}
#topNav .navbar-static-side.txeit .indicator {
  position: absolute;
  top: 5px;
  right: 5px;
}
#topNav .navbar-static-side.txeit .nav-second-level {
  width: 120px;
  display: block;
  height: 0;
  overflow: hidden;
}
#topNav .navbar-static-side.txeit .iconfont {
  margin-left: -5px;
}
#topNav .navbar-static-side.txeit .nav > li {
  position: relative;
}
#topNav .navbar-static-side.txeit .nav > li:hover {
  width: 180px;
}
#topNav .navbar-static-side.txeit .nav > li:hover .navTle {
  display: inline-block;
}
#topNav .navbar-static-side.txeit .nav > li:hover .indicator {
  top: 50%;
  margin-top: -10px;
  right: 20px;
}
#topNav .navbar-static-side.txeit .nav > li:hover .nav-second-level {
  position: absolute;
  left: 60px;
  height: auto;
  top: 48px;
  transition: all .3s;
}
#topNav .navbar-static-side.txeit .nav > li:hover .nav-second-level a {
  width: 120px;
  padding-left: 25px!important;
}
#topNav .navbar-static-side.txeit .nav > li:hover .nav-second-level .indicator {
  top: 50%;
  margin-top: -10px;
  right: 10px;
}
#topNav .navbar-static-side.txeit .progressWrap {
  display: none;
}
@media (max-width: 992px) {
  #topNav .navbar-static-side {
    width: 60px;
  }
  #topNav .navbar-static-side .navTle,
  #topNav .navbar-static-side .arrow {
    display: none;
  }
  #topNav .navbar-static-side .indicator {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  #topNav .navbar-static-side .nav-second-level {
    width: 120px;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: visible;
  }
  #topNav .navbar-static-side .iconfont {
    margin-left: -5px;
  }
  #topNav .navbar-static-side .nav > li {
    position: relative;
  }
  #topNav .navbar-static-side .nav > li:hover {
    width: 180px;
    background: #24243e;
  }
  #topNav .navbar-static-side .nav > li:hover .navTle {
    display: inline-block;
  }
  #topNav .navbar-static-side .nav > li:hover .indicator {
    top: 50%;
    margin-top: -10px;
    right: 20px;
  }
  #topNav .navbar-static-side .nav > li:hover .nav-second-level {
    position: absolute;
    left: 60px;
    height: auto;
    top: 48px;
  }
  #topNav .navbar-static-side .nav > li:hover .nav-second-level a {
    width: 120px;
    padding-left: 25px!important;
  }
  #topNav .navbar-static-side .nav > li:hover .nav-second-level .indicator {
    top: 50%;
    margin-top: -10px;
    right: 10px;
  }
  #topNav .progressWrap {
    display: none;
  }
  .content-wrap {
    margin: 90px 20px 20px 75px;
  }
}
@media (max-width: 500px) {
  #topNav {
    min-width: 420px;
  }
  #topNav .message {
    display: none;
  }
}
