<div class="row mrb20">
    <div class="col-sm-12">
        <div class="fl">
            <button type="button" ng-click="save()" class="btn btn-primary addRole">
                <i class="iconfont icon-tianjia-"></i>
                添加角色
            </button>
        </div>
    </div>

</div>

<div class="content-wrap">
    <div class="table-wrapper">
        <table class="table" st-pipe="callServer" st-table="displayed">
            <thead>
                <tr>
                    <th st-sort="name">角色名称</th>
                    <th st-sort="">说明</th>
                    <th st-sort="">操作</th>
                </tr>
            </thead>
            <tbody ng-show="!isLoading">
                <tr ng-repeat="row in displayed">
                    <td>{{row.name}}</td>
                    <td>{{row.remark}}</td>
                    <td>
                        <div>
                            <button class="btn btn-primary tableBtn" ng-click="checkPerms(row,1)">查看权限</button>
                            <button class="btn btn-primary tableBtn btnGreen" ng-click="save(row)">编辑</button>
                            <button class="btn btn-primary tableBtn btbRed" ng-click="del(row,$index)">删除</button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-include="'tpl/table.html'"></tbody>
            <tfoot ng-show="!isLoading" ng-include="'tpl/table_footer.html'"></tfoot>
        </table>
    </div>
</div>