<div class="ui-dialog" ng-keydown="$event.stopPropagation()">
    <div class="ui-dialog-title">
        保存节目
    </div>

    <section class="programSave">
        <section class="title" style="padding-top: 10px;">
            <label>节目名称</label>
            <input type="text" ng-model="name">
            <span>必填</span>
        </section>

        <!-- 群组选择器 -->
        <section class="title" style="padding-bottom: 10px;padding-top: 5px;">
            <label>组织机构</label>
            <div class="hideLeaf" style="display: inline-block;border: solid 1px #cccccc;margin-left: 0.5em;">
                <group-leaf-select initid="{{oid}}"></group-leaf-select>
            </div>
        </section>

        <table class="content">
            <tr>
                <th>分辨率</th>
                <td>
                    <span>{{pixelHorizontal+'×'+pixelVertical}}</span>
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>场景数</th>
                <td>{{pages.length}}</td>
                <th>总时长</th>
                <td>{{getTotalTimes()|dmbdVideoTimeFormatFilter}}</td>
            </tr>
            <tr>
                <th>资源总数</th>
                <td>{{resourceCount}}</td>
                <th>资源大小</th>
                <td>{{resourceSize|dmbdResourceSizeFilter}}</td>
            </tr>
        </table>

        <table class="content2">
            <tr>
                <th>场景序号</th>
                <th>播放时长</th>
            </tr>
            <tr ng-repeat="page in pages">
                <td>{{$index+1}}</td>
                <td>
                    <input type="number" ng-model="page.stay" ng-init="page.stay=pagesSeconds[$index]">
                    秒
                    <!--{{page.stay}}秒-->
                </td>
            </tr>
        </table>

    </section>

    <div class="ui-dialog-footer">
        <button class="dialog_ok" ng-click="ensureClick()">确定</button>
        <button class="dialog_close" ng-click="close_dialog()">取消</button>
    </div>
</div>
