<div class="content-wrap" style="min-width:780px;">
    <div class="level2 clearfix">
        <button ng-if="!isSort" class="iconBtn btn btn-primary" ui-sref="dashboard.schedule">
            <i class="fa fa-angle-left"></i>返回
        </button>
    </div>
    <div style="position:relative;padding:20px;" class="clearfix bg-white">
        <div class="txt-grey">
            <h5 class="mart0">新建排期</h5>
        </div>
        <form name="scheduleNameForm" novalidate id="scheduleNameForm">
            <div class="form-group clearfix">
                <div class="col-2" style="max-width:60px;">排期名称</div>
                <div class="col-4" style="max-width:300px;">
                    <input class="form-control dibik" name="scheduleName" ng-model="scheduleName" placeholder="排期名称" required ng-pattern="/([A-Za-z0-9]{2,20})|([\u4e00-\u9fa5]{2,10})|([\u4e00-\u9fa5][\w\W]{2})/">
                </div>
                <div class="col-6 help-block tex-red" ng-messages="scheduleNameForm.scheduleName.$error">
                    <p ng-message="required">请输入排期名称</p>
                    <p ng-message="pattern">请输入2-40个字符</p>
                </div>
            </div>
        </form>
        <div class="table-wrapper col-sm-4 mid-table">
            <div class="clearfix">
                <div class="clearfix groupLeafSelect">
                    <group-leaf-select reqleafurl="{{'/api/program/getProgramGroups'}}"></group-leaf-select>
                </div>
            </div>
            <table class="table" st-pipe="callServer" st-table="displayed">
                <thead>
                    <tr>
                        <th>节目名称</th>
                        <th>时长</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody ng-show="!isLoading">
                    <tr class="{{$index%2 == 0?'odd':'even'}}" ng-repeat="row in displayed">
                        <td class="tdClick" ng-click="showProgram(row)">
                            {{row.name}}
                        </td>
                        <td>
                            {{row.duration + 's'}}
                        </td>
                        <td>
                            <button class="btn tableBtn" ng-class="{'disabled': playListId.indexOf(row.id) != -1 || playListId.length > 100}" ng-click="add(row)">添加
                            </button>
                        </td>

                    </tr>
                </tbody>
                <tbody ng-include="'tpl/table.html'"></tbody>
            </table>
        </div>
        <div class="col-sm-8 bg-white" style="padding:10px;">
            <div class="txt-center" style="line-height:380px;" ng-show="!playList.length">请从左侧选择节目添加~</div>
            <div ng-show="playList.length > 0" style="position:relative;">
                <div class="clearfix" style="width:100px;position:absolute;left:0;top:-2px;padding-left:4px;z-index:2;">
                    <div style="font-size:14px; color:#9f9f9f;height:24px;">节目排期</div>
                    <div class="clearfix" style="line-height:30px;" ng-repeat="item in playList">
                        <div class="fl ellipsTXt" ng-click="showPlay(item)" style="width:80px;font-size:12px;padding-left:4px;cursor:pointer;">{{item.name}}</div>
                        <div class="fr" style="color:#c4c4c4;cursor:pointer;" ng-click="del(item)">
                            <i class="fa fa-close"></i>
                        </div>
                    </div>
                </div>
                <div ng-style="chartStyle" e-chart></div>
                <div class="txt-center">
                    <button class="btn btn-primary" ng-class="{'disabled': isPosting}" type="button" ng-click="saveSchedule()">保存
                        <i class="fa fa-spinner"></i>
                    </button>
                    <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
                </div>
            </div>
        </div>
    </div>

</div>