.scheduleCreate {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 90px 20px 0px 270px;
}
@media (max-width: 992px) {
  .scheduleCreate {
    padding: 90px 20px 0px 75px;
  }
}
