.mapWrap {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}
.mapWrap #allmap {
  height: 100%;
  min-height: 260px;
  background: #fff;
  border-radius: 6px;
}
.mapWrap #allmap .fileReportWrap {
  margin-bottom: 0;
  height: 100%;
  overflow: hidden;
  padding: 20px;
}
.mapWrap #allmap .fileReportWrap dt {
  margin-bottom: 20px;
}
.mapWrap #allmap .fileReportWrap dd {
  float: left;
  width: 50%;
  height: 50%;
  min-height: 100px;
  border-right: 1px solid #f1f2f5;
  border-bottom: 1px solid #f1f2f5;
}
.mapWrap #allmap .fileReportWrap dd .iconWrap {
  width: 15rem;
  height: 15rem;
  display: inline-block;
  position: relative;
  border: 1px solid #00A0E9;
  border-radius: 50%;
  color: #00A0E9;
  text-align: center;
}
.mapWrap #allmap .fileReportWrap dd .iconWrap .tipLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}
.mapWrap #allmap .fileReportWrap dd .iconWrap .tipLabel span.dibik {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  margin-left: -15px;
}
.mapWrap #allmap .fileReportWrap dd .iconWrap .iconfont {
  font-size: 68px;
}
.homePage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 90px 20px 128px 270px;
}
.homePage .huge {
  font-size: 32px;
}
.homePage .userTip {
  padding: 5px 10px;
  margin-bottom: 5px;
  color: #ff3e3e;
  border: 1px solid #ff3e3e;
  background: #ffffcc;
}
.homePage .stats .panel {
  cursor: pointer;
}
.homePage .stats .panel .panel-heading {
  padding: 10px 0;
}
.homePage .stats .panel .iconfont {
  font-size: 64px;
  width: 70px;
  height: 70px;
  display: inline-block;
  margin-top: -10px;
}
.homePage .stats .panel .state_ok {
  color: #00A0E9;
}
.homePage .stats .panel .state_offline {
  color: #c4c4c4;
}
.homePage .stats .panel .state_error {
  color: #ff3e3e;
  font-size: 72px;
  margin-top: -19px;
  margin-right: 5px;
}
.homePage .stats .panel .state_all {
  color: #364660;
  font-size: 72px;
  margin-top: -19px;
}
@media (max-width: 992px) {
  .homePage {
    padding: 90px 20px 128px 75px;
  }
}
