.BMap_cpyCtrl {
  display: none;
}
.anchorBL {
  display: none;
}
.mapWrap {
  min-height: 300px;
  width: 100%;
  height: 100%;
}
.mapWrap #allmap {
  height: 100%;
}
.mapWrap #allmap .BMap_bubble_title {
  font-weight: bold;
}
.homePage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 90px 20px 128px 270px;
}
.homePage .huge {
  font-size: 32px;
}
.homePage .stats .panel {
  cursor: pointer;
}
.homePage .stats .panel .iconfont {
  font-size: 64px;
  width: 70px;
  height: 70px;
  display: inline-block;
  margin-top: -10px;
}
.homePage .stats .panel .state_ok {
  color: #00A0E9;
}
.homePage .stats .panel .state_offline {
  color: #c4c4c4;
}
.homePage .stats .panel .state_error {
  color: #ff3e3e;
  font-size: 72px;
  margin-top: -19px;
}
.homePage .stats .panel .state_all {
  color: #364660;
  font-size: 72px;
  margin-top: -19px;
}
