@charset "utf-8";

.qmedia-editor-page,
.qmedia-editor-page * {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
}

.qmedia-editor-page * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.qmedia-editor-page ul,
.qmedia-editor-page ol,
.qmedia-editor-page dl,
.qmedia-editor-page li,
.qmedia-editor-page dd,
.qmedia-editor-page dt {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.qmedia-editor-page {
    position: relative;
    overflow: hidden;
    cursor: inherit;

    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /*font-family: sans-serif;*/
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;

    -webkit-transition: width 0.3s, height 0.3s;
    -moz-transition: width 0.3s, height 0.3s;
    -o-transition: width 0.3s, height 0.3s;
    transition: width 0.3s, height 0.3s;
}

.qmedia-editor-page .page-canvas {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    -webkit-transition: width 0.3s, height 0.3s;
    -moz-transition: width 0.3s, height 0.3s;
    -o-transition: width 0.3s, height 0.3s;
    transition: width 0.3s, height 0.3s;
}

.qmedia-editor-page .page-view-canvas {
    background-color: white;
}

.qmedia-editor-page .page-edit-canvas {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /*border: solid 0.5em #00a0e9;*/
    background-color: #e0e0e0;
}

.qmedia-editor-page .page-canvas * {
    font-size: inherit;
}

.qmedia-editor-page .editor-page-container {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
