.loginContent {
  width: 100%;
  height: 100%;
  position: relative;
}
.loginContent .loginBox {
  height: 450px;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 50%;
  margin-top: -260px;
}
.loginContent .loginBox .loginContent {
  width: 60%;
  margin: 0 auto;
}
.loginContent .loginBox .loginContent .left {
  height: 100%;
}
.loginContent .loginBox .loginContent .right {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
}
.loginContent .loginBox .loginContent .right img {
  width: 80%;
  margin: 25px 10%;
}
.loginContent .loginBox .loginContent .right .title {
  text-align: center;
  color: #fff;
}
.loginContent .loginBox .loginContent .right .english {
  text-align: center;
  color: #fff;
  font-size: 10px;
  line-height: 24px;
}
.loginContent .loginBox .loginContent .right #form_modal_btn {
  border: solid 1px #24243E;
  background: #24243E;
  width: 100%;
  color: #fff;
  border-radius: 6px;
  padding: 6px 0;
  margin-top: 20px;
}
.loginContent .loginBox .loginContent .right .chkdiv {
  color: #232935;
  font-size: 12px;
}
.loginContent .loginBox .loginContent .right .chkdiv .left {
  height: 20px;
}
.loginContent .loginBox .loginContent .right .chkdiv .left input {
  width: 16px;
  height: 16px;
  margin-top: 0;
  display: inline-block;
  float: left;
  margin-right: 5px;
  vertical-align: middle;
  margin-top: 2px;
}
.loginContent .loginBox .loginContent .right .chkdiv .left label {
  float: left;
  font-weight: 400;
}
.loginContent #loginForm {
  padding: 20px 10%;
}
.loginContent #loginForm .form-control {
  background-color: transparent;
  border: 1px solid #667185;
  box-shadow: 0 0 5px #404650 inset;
  -moz-box-shadow: 0 0 5px #404650 inset;
  -webkit-box-shadow: 0 0 5px #404650 inset;
}
.loginContent #loginForm .form-control::-webkit-input-placeholder {
  color: #c4c4c4;
}
.loginContent .loginBg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.loginContent .helpNavWrap {
  text-align: center;
  line-height: 32px;
}
.loginContent .helpNav {
  display: inline-block;
  margin: 10px 30px;
}
.loginContent .helpNav a {
  text-decoration: none;
  font-size: 12px;
  color: #CFCFD0;
}
.loginContent .footer_text {
  text-align: center;
  position: absolute;
  color: #62628B;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  bottom: 15px;
  left: 0;
  right: 0;
}
