@charset "utf-8";

/*横条样式*/
.qmedia-editor .editor-control-range {
    -webkit-appearance: none; /*清除系统默认样式*/
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    display: inline-block; /*清除bootstrap覆盖*/
    font-size: 0;
    background: #c9c9c9 linear-gradient(#24243e, #24243e) no-repeat;
}

/*拖动块的样式*/
.qmedia-editor .editor-control-range::-webkit-slider-thumb {
    -webkit-appearance: none; /*清除系统默认样式*/
    -moz-appearance: none;
    appearance: none;
    height: 16px; /*拖动块高度*/
    width: 16px; /*拖动块宽度*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px rgba(36, 36, 62, 0.4);
    background-color: #24243e; /*拖动块背景*/
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    cursor: pointer;
}

.qmedia-editor .editor-control-range::-moz-range-thumb {
    -webkit-appearance: none; /*清除系统默认样式*/
    -moz-appearance: none;
    appearance: none;
    height: 16px; /*拖动块高度*/
    width: 16px; /*拖动块宽度*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px rgba(36, 36, 62, 0.4);
    background-color: #24243e; /*拖动块背景*/
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    cursor: pointer;
}

.qmedia-editor .editor-control-range::-webkit-slider-thumb:hover {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.qmedia-editor .editor-control-range::-moz-range-thumb:hover {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/* 对齐控件 */
.qmedia-editor .editor-control-align {
    width: auto;
    display: inline-block;
}

.qmedia-editor .editor-control-align > span {
    color: #24243e;
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
}

.qmedia-editor .editor-control-align > span:hover {
    color: #00a0e9;
}

.qmedia-editor .editor-control-align > span.selected {
    color: #00a0e9;
}

.qmedia-editor .editor-control-isMultiple > span {
    color: #24243e;
    font-size: 12px;
    margin-left: 1.5em;
    cursor: pointer;
}

.qmedia-editor .editor-control-isMultiple > span:hover {
    color: #00a0e9;
}

.qmedia-editor .editor-control-isMultiple > span.selected {
    color: #00a0e9;
}

.qmedia-editor .editor-control-backgroundType > span {
    color: #24243e;
    font-size: 12px;
    margin-left: 1.5em;
    cursor: pointer;
}

.qmedia-editor .editor-control-backgroundType > span:hover {
    color: #00a0e9;
}

.qmedia-editor .editor-control-backgroundType > span.selected {
    color: #00a0e9;
}

/* 开关控件 */
.qmedia-editor .editor-control-switcher {
    display: inline-block;
    width: 3em;
    height: 1.5em;
    border: solid 0.1em #CCCCCC;
    text-align: left;
    cursor: pointer;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);

    background-color: #f5f5f5;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

.qmedia-editor .editor-control-switcher.on {
    background-color: #00a0e9;
    border-color: #00a0e9;
}

.qmedia-editor .editor-control-switcher > label {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border: solid 0.1em #f5f5f5;
    background-color: white;
    cursor: pointer;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -o-transition: -o-transform 0.1s;
    transition: transform 0.1s;
}

.qmedia-editor .editor-control-switcher.on > label {
    -webkit-transform: translate3d(1.5em, 0, 0);
    -moz-transform: translate3d(1.5em, 0, 0);
    -ms-transform: translate3d(1.5em, 0, 0);
    -o-transform: translate3d(1.5em, 0, 0);
    transform: translate3d(1.5em, 0, 0);
}

/* 单图片选择控件样式 */
.qmedia-editor .editor-control-imageSelector {
    width: 200px;
    height: 200px;
    border: solid 1px #f5f5f5;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.qmedia-editor .editor-control-imageSelector > .panel-area {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

.qmedia-editor .editor-control-imageSelector > .panel-add {
    padding: 10px 20px;
}

.qmedia-editor .editor-control-imageSelector > .panel-add > .icon-tianjia {
    background-color: transparent;
    cursor: pointer;
    color: #e2e3e6;
}

.qmedia-editor .editor-control-imageSelector > .panel-add > .icon-tianjia:hover {
    color: #c9c9c9;
}

.qmedia-editor .editor-control-imageSelector > .panel-add > .icon-tianjia:before {
    vertical-align: middle;
    font-size: 30px;
    margin-right: 0.3em;
}

.qmedia-editor .editor-control-imageSelector > .panel-add > .icon-tianjia:after {
    content: '添加';
    vertical-align: middle;
    font-size: 20px;
}

.qmedia-editor .editor-control-imageSelector > .panel-edit {
    padding: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.qmedia-editor .editor-control-imageSelector > .panel-edit > .iconfont {
    background-color: transparent;
    margin: 0 5px;
    color: #c9c9c9;
}

.qmedia-editor .editor-control-imageSelector > .panel-edit > .iconfont:hover {
    color: #e2e3e6;
}

.qmedia-editor .editor-control-imageSelector > .panel-edit > .iconfont:before {
    vertical-align: middle;
    font-size: 30px;
    margin-right: 0.3em;
}

.qmedia-editor .editor-control-imageSelector:hover > .panel-edit {
    display: block;
}

.qmedia-editor .editor-control-videoViewer {
    width: 100%;
    height: 100%;
}

.qmedia-editor .editor-control-videoViewer > video {
    width: 100%;
    height: 100%;
    display: block;
}

.qmedia-editor .editor-control-videoViewer > .video-mask {
    position: relative;
    width: 100%;
    height: 100%;
    top: -100%;
}

.qmedia-editor .editor-control-videoViewer > .video-mask:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.qmedia-editor .editor-control-videoViewer > .video-mask > button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: none;
    width: 3em;
    height: 3em;
    border: solid 1px white;
    color: white;
}

.qmedia-editor .editor-control-videoViewer > .video-mask > button:hover {
    border-color: #00a0e9;
    color: #00a0e9;
}

.qmedia-editor .editor-control-videoViewer > .video-mask:hover > button {
    display: inline-block;
}

/* 分辨率选择 */
.qmedia-editor .editor-control-pixelSelector {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    overflow: visible;
}

.qmedia-editor .editor-control-pixelSelector > .current {
    width: 100%;
    height: 100%;
    background-color: white;
    cursor: pointer;
    text-indent: 0.5em;
}

.qmedia-editor .editor-control-pixelSelector > .selector-panel {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    cursor: default;
}

.qmedia-editor .editor-control-pixelSelector > .selector-panel > .selector-item {
    width: 100%;
    height: 24px;
}

.qmedia-editor .editor-control-pixelSelector > .selector-panel > .selector-item:hover {
    background-color: #00a0e9;
}

.qmedia-editor .editor-control-pixelSelector > .selector-panel > .selector-item.selected {
    background-color: #00a0e9;
}

.qmedia-editor .editor-control-pixelSelector > .selector-panel > .selector-item > span {
    display: inline-block;
    width: 80%;
    text-indent: 0.5em;
}

.qmedia-editor .editor-control-pixelSelector > .selector-panel > .selector-item > button {
    padding: 0.2em 0.5em;
}

.qmedia-editor .editor-control-pixelSelector > .selector-panel > .selector-custom {
    cursor: pointer;
}
