<div style="position: relative;width: 100%;height: 100%;">
    <editor-control-video-viewer
            style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;"
            ng-repeat="video in videos"
            ng-show="video===videos[curIndex]"
            poster="video.snapshot"
            src="video.url">
    </editor-control-video-viewer>
    <div style="position: absolute;left: 0;right: 0;bottom: 0;height: auto;display: table;width: 100%;background-color: rgba(0,0,0,0.6);color: white;">
        <div style="display: table-cell;text-align: left;">
            <button ng-click="prevVideo()"
                    ng-style="{'color':curIndex>0?'white':'gray','cursor':curIndex>0?'pointer':'default'}">&lt;</button>
        </div>
        <div style="display: table-cell;">{{curIndex+1}}/{{videos.length}}</div>
        <div style="display: table-cell;text-align: right;">
            <button ng-click="nextVideo()"
                    ng-style="{'color':curIndex<videos.length-1?'white':'gray','cursor':curIndex<videos.length-1?'pointer':'default'}">
                &gt;</button>
        </div>
    </div>
</div>
